<a href="/">Home</a>

{% if not ticket %}
    <h1>Ticket Not Found</h1>
{% else %}
    <h1>{{ ticket.title }}</h1>
    <h3>Ticket Number: {{ticket.id}}</h3>
    <h3>Submitted By:<a href="/author/{{ticket.author.id}}"> {{ ticket.author.username }}</h3></a>
    <h4>Date Submitted: {{ticket.time_stamp}}</h4>
    <h3>Description: </h3>{{ticket.description}}
    <h4>Status: {{ticket.get_status_display}}</h4>
    
    

 
{% if ticket.status == "IN" %}
<h4>Invalidated By: {{ticket.finishing}}</h4>
<a href="/assign/{{ticket.id}}">Reopen</a>
{% elif ticket.status == "N" %}
<a href="/assign/{{ticket.id}}">Assign</a>
<a href="/invalid/{{ticket.id}}/">Invalidate</a>
{% elif ticket.status == "IP" %}
<h4>Assigned To: {{ticket.assigned}}</h4>
<a href="/ticketdetail/{{ticket.id}}/edit">Edit</a>
<a href="/done/{{ticket.id}}">Complete</a>
<a href="/return/{{ticket.id}}">Return</a>
{% elif ticket.status == "D" %}
<h4>Completed By: {{ticket.finishing}}</h4>
<a href="/assign/{{ticket.id}}">Reopen</a>
{%endif%}
    
   
{% endif %}