{% if not ticket %}
    <h1>Ticket Not Found</h1>
{% else %}
    <h1>{{ ticket.title }}</h1>
    <h3>Submitted By: {{ ticket.author.username }}</h3>
    <h3>Description: {{ticket.description}}</h3>
    <h4>{{ticket.get_status_display}}</h4>
    
    

 
{% if ticket.status == "IN" %}
<a href="/assign/{{ticket.id}}">Reopen</a>
{% elif ticket.status == "N" %}
<a href="/assign/{{ticket.id}}">Assign</a>
<a href="/invalid/{{ticket.id}}/">Invalidate</a>
{% elif ticket.status == "IP" %}
<a href="/ticketdetail/{{ticket.id}}/edit">Edit</a>
<a href="/done/{{ticket.id}}">Complete</a>
<a href="/return/{{ticket.id}}">Return</a>
{% elif ticket.status == "D" %}
<a href="/assign/{{ticket.id}}">Reopen</a>
{%endif%}
    
   
{% endif %}